include ../layout

block content

    div.row
        div.col-md-2
            ul.list-group
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Dashboard
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Activities
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Favorites
                li.list-group-item
                    span.glyphicon.glyphicon-envelope
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Profile
                li.list-group-item
                    span.glyphicon.glyphicon-cog
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Settings


        //- (NOTES) ALL ROUTES MARKED WITH AN 'ID' NAME ARE JQUERY ROUTES
        //- (TODO) :: ADD JQUERY FORM VALIDATION
        div.col-md-10
            div.row
                ol.breadcrumb.mr-auto.w-100
                    li.breadcrumb-item
                        a(href="/") Home
                    li.breadcrumb-item.active
                        // a Dashboard
                        a Activities

            div.row
                h4#success-message.alert.alert-success.w-100

                // TODO :: DISABLE BUTTON ON VIEW
                // TODO :: ENABLE FORM ON SELECT EDIT
                legend
                    a#View(href="#") View
                    a#Edit(href="#") Edit
                    a#New(href="#") New


                // TODO :: ADD CONDITIONAL TO DISPLAY DASHBOARD
                // UNCOMMENT DASHBOARD COMMENT TO SHOW
                // include profile_dashboard

                // TODO :: ADD CONDITIONAL TO DISPLAY ACTIVITIES
                // include activities_new
                form.activity
                    div.col-md-12
                        table.table.table-striped.table-hover.table-bordered
                            thead.thead-dark
                                tr
                                    th ID
                                    th Heading
                                    th Active
                                    th Create Date
                                    th Edit
                                    th Delete
                            tbody
                            each activity in activitiesData
                                - var active = activity.isActive === true ? 'YES' : 'NO'
                                tr
                                    td= activity.activityId
                                    td= activity.activityHeading
                                    td= active
                                    td= moment(activity.created_at).format('MM/DD/YYYY')
                                    td
                                        input.btn.btn-outline-primary(type="button" value="Edit" name=activity.activityId )
                                    td
                                        input.btn.btn-outline-danger(type="button" value="Delete" name=activity.activityId )


