include ../layout

block content

    div.row
        div.col-md-4
            ul.list-group
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Dashboard
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Activities
                li.list-group-item
                    span.glyphicon.glyphicon-list-alt
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Favorites
                li.list-group-item
                    span.glyphicon.glyphicon-envelope
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Profile
                li.list-group-item
                    span.glyphicon.glyphicon-cog
                        a.tag.tag-default.tag-pill.float-xs-right(href="#") Settings


        //- (NOTES) ALL ROUTES MARKED WITH AN 'ID' NAME ARE JQUERY ROUTES
        //- (TODO) :: ADD JQUERY FORM VALIDATION
        div.col-md-8
            div.row
                ol.breadcrumb.mr-auto.w-100
                    li.breadcrumb-item
                        a(href="/") Home
                    li.breadcrumb-item.active
                        a Dashboard

            div.row
                h4#success-message.alert.alert-success.w-100

                // TODO :: DISABLE BUTTON ON VIEW
                // TODO :: ENABLE FORM ON SELECT EDIT
                legend
                    a#View(href="#") View
                    a#Edit(href="#") Edit

                div.col-md-6.form-group
                    form.profile
                        // FOR DASHBOARD VIEW
                        // REPLACE CONTENT WITH DATA FROM DATABASE
                        label(for="username") Username
                        input.form-control#username(type="username" placeholder="username" value=user.username)

                        // TODO :: REMOVE USER PASSWORD AFTER VALIDATION
                        label(for="password") Password
                        input.form-control#password(type="password" placeholder="password" value=user.password)

                        label(for="firstname") First name
                        input.form-control#firstname(type="text" placeholder="first name" value=user.firstName)

                        label(for="lastName") Last name
                        input.form-control#lastname(type="text" placeholder="last name" value=user.lastName)

                        label(for="bio") Bio
                        textarea.form-control#bio(placeholder="some text about you" rows="5" ) #{user.bio}
                        button#updateProfile.btn.btn-dark(type="button") Update


                div.col-md-6.form-group
                    // SETTTINGS FOR SECOND HALF OF PAGE
                    div.avatar.text-center
                        img.avatar-img.img-circle(src=user.profileUrl alt="avatar")
                        h6 Upload a different photo...

                    div.text-right
                        h4#status
                        form#uploadForm(action="/upload" method="POST" enctype="multipart/form-data")
                            input#fileToUpload.form-control(type="file" name="profileImg")
                            button.btn.btn-dark(type="submit") Upload
                        //form(action="/upload" enctype="multipart/form-data" method="post" )
                        //    input.form-control(type="file" name="profileImg")
                        //    button.btn.btn-dark(type="submit") Upload


