extends ./layout

//- include navbar

block content
    h1=title
    //- p=activities.Activity
    //- p=activities.isActive
    //- if (activities)
    //-     each value, key in activities
    //-         - var categories = activities.ActivityCategories
    //-         - var tags = activities.ActivityTags
    //-         - var details = activities.ActivityDetails
    //- 
    //-         if key == 'ActivityCategories'
    //-             each category in categories
    //-                 li=category.categoryName
    //-                 li=category.isActive
    //-                 li=category.created_at
    //- 
    //-         if key == 'ActivityTags'
    //-             each tag in tags
    //-                 li=tag.activityTagName
    //-                 li=tag.isActive
    //-                 li=tag.created_at
    //- 
    //-         if key == 'ActivityDetails'
    //-             each detail in details
    //-                 li=detail.startDate
    //-                 li=detail.endDate
    //-                 li=detail.minActor
    //-                 li=detail.maxActor

    div.row.justify-content-center
        div.col-sm-5
            img.img-fluid(src="../img/testimg.png")
            div.categories
                each tags in activities.ActivityTags
                    button.btn.btn-outline-primary(href="#")=tags.activityTagName
        div.col-sm-6
            p Lorem ipsum dolor sit amet, lorem aeque vis ei, ex assum dicit est. Ne quo debitis delectus mediocrem. His omnes affert appetere te, graece utamur ex sit. Vim cu mucius verterem. Abhorreant incorrupte quo ad, ad mel tacimates dissentiet.

        hr
