extends ./layout

//- include navbar

block content

    div.row
        form(method="GET", action="/explore/search", class="form-inline")
            input(name="term")
            select(name="search")
                option(value="activityHeading") Title
                option(value="ActivityDetails.minActor") Min Participants 
                
    div.row
        each activity in activities
            div.col-sm-6
                h2= activity.activityHeading
                hr
                div.col-sm-6
                    h3 Summary: 
                    each detail in activity.ActivityDetails
                        p= detail.summary
                div.col-sm-6.justify-content-end
                    each detail in activity.ActivityDetails
                        table.table.table-bordered
                            tbody
                                tr
                                    th(scope="row") Start Date
                                    td= detail.startDate
                                tr
                                    th(scope="row") End Date
                                    td= detail.endDate
                                tr
                                    th(scope="row") Min Participants
                                    td= detail.minActor
                                tr
                                    th(scope="row") Max Participants
                                    td= detail.maxActor
                        button.btn.btn-outline-primary
                            a(href="/explore/" + activity.activityId) Details

            
