extends ./layout

//- include navbar

block content
    h1(style="text-align: center")=activities.activityHeading
    br
    //p=activities.Activity
    //p=activities.isActive

    //if (activities)
    //    each item in activityDetails
    //        p= item.startDate
        //each value, key in activities
        //    - var categories = activities.ActivityCategories
        //    - var tags = activities.ActivityTags
        //    - var details = activities.ActivityDetails
        //
        //
        //    if value == 'ActivityCategories'
        //        each category in categories
        //            li=category.categoryName
        //            li=category.isActive
        //            li=category.created_at
        //
        //    if key == 'ActivityTags'
        //        each tag in tags
        //            li=tag.activityTagName
        //            li=tag.isActive
        //            li=tag.created_at
        //
        //    if key == 'ActivityDetails'
        //        each detail in details
        //            li=detail.startDate
        //            li=detail.endDate
        //            li=detail.minActor
        //            li=detail.maxActor
    
    div.row.justify-content-center
        div.col-sm-6
    
    
    div.row.justify-content-center
        div.col-sm-4
            img.img-fluid(src="../img/testimg.png")
            div.categories
            p Tags:
            each category in activities.ActivityCategories
                button.btn.btn-outline-primary(href="#")=category.categoryName
                //-    button.btn.btn-outline-primary(href="#")=tags.activityTagName
        div.col-sm-6
            //- This is where the summary would be
            each detail in activities.ActivityDetails
                p= detail.summary
    hr.style1
    
    div.row
        div.col-sm-6
            each detail in activities.ActivityDetails
                table.table.table-bordered
                    thead
                        th(colspan="2") Details
                    tbody
                        tr
                            th(scope="row") Start Date
                            td= detail.startDate
                        tr
                            th(scope="row") End Date
                            td= detail.endDate
                        tr
                            th(scope="row") Min Participants
                            td= detail.minActor
                        tr
                            th(scope="row") Max Participants
                            td= detail.maxActor
    
                
