extends ./layout

//- include navbar

block content

    div.row
        form(method="GET", action="/explore/search", class="form-inline")
            input(name="term")
            select(name="search")
                option(value="title") Title
                option(value="ActivityDetails.minActor") Min Participants 
                
    div.row
        each activity in activities
            div.col-sm-6
                h2= activity.title
                hr
                div.col-sm-6
                    h3 Summary: 
                        p= activities.summary
                div.col-sm-6.justify-content-end
                    table.table.table-bordered
                        tbody
                            tr
                                th(scope="row") Start Date
                                td= activities.startDate
                            tr
                                th(scope="row") End Date
                                td= activities.endDate
                            tr
                                th(scope="row") Min Participants
                                td= activities.minActor
                            tr
                                th(scope="row") Max Participants
                                td= activities.maxActor
                        button.btn.btn-outline-primary
                            a(href="/explore/" + activity.activityId) Details

            
