
// DISPLAYS ALL ACTIVITIES CREATED BY LOGGED-IN USER
form.activity
    div.col-md-12
        table.table.table-striped.table-hover.table-bordered
            thead.thead-dark
                tr
                    th ID
                    th Title
                    th Summary
                    th Min / Max Person(s)
                    th Start Date
                    th End Date
                    th Active
                    th Delete
            tbody
            each activity in activitiesData
                - var active = activity.isActive === true ? 'YES' : 'NO'
                tr
                    td= activity.activityId
                    td= activity.title
                    td= activity.summary
                    td= moment(activity.startDate).format('MM/DD/YYYY')
                    td= moment(activity.endDate).format('MM/DD/YYYY')
                    td= activity.minActor
                    span= activity.maxActor
                    td= active
                    td
                        a.btn.btn-outline-primary(href='/user/activity/' + activity.activityId + '/update' ) Edit
                    td
                        a.btn.btn-outline-danger(href='/user/activity/' + activity.activityId + '/delete' ) Delete